a{
    color : gray;
}
a:hover{
    color : black;
    text-decoration: none;
}
.date{
    color: gray;
}

.node{
    margin: 10px 20px;
    margin-bottom: 5px;
    padding : 5px;
    
    box-shadow: -1px -1px 3px black;
    /*
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-right-style: hidden;
    border-bottom-style: hidden;
    */
    border-top-left-radius: 5px;
    /*
    height:600px;
    overflow:scroll;
    */
}